if SHIELD_MY_XIAO_SPLIT_LEFT

config ZMK_KEYBOARD_NAME
    default "AbohishamK"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_MY_XIAO_SPLIT_LEFT

if SHIELD_MY_XIAO_SPLIT_LEFT || SHIELD_MY_XIAO_SPLIT_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_MY_XIAO_SPLIT_LEFT || SHIELD_MY_XIAO_SPLIT_RIGHT
