#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // This is your physical layout. Edit the &kp codes to change what a key does!
            bindings = <
                &kp S    &kp X    &kp E    &kp R    &kp W          &kp Y    &kp U    &kp I     &kp O   &kp P
                &kp R    &kp F    &kp V    &kp Q    &kp G          &kp H    &kp J    &kp K     &kp L   &kp SEMI
                &kp Z    &kp T    &kp G    &kp B    &kp Aw          &kp N    &kp M    &kp COMMA &kp DOT &kp SLASH
                &none    &none    &none    &none    &none          &none    &none    &none     &none   &none
                &none    &none    &none    &kp SPACE &kp RET       &kp BSPC &kp ESC  &none     &none   &none
            >;
        };
    };
};