#include "my_xiao_split.dtsi"

&kscan {
    // Right side column pin mappings: D0, D1, D2, D3, D6
    col-gpios
        = <&xiao_d 0 GPIO_ACTIVE_HIGH>
        , <&xiao_d 1 GPIO_ACTIVE_HIGH>
        , <&xiao_d 2 GPIO_ACTIVE_HIGH>
        , <&xiao_d 3 GPIO_ACTIVE_HIGH>
        , <&xiao_d 6 GPIO_ACTIVE_HIGH>
        ;
};

&default_transform {
    // This shifts the right-side matrix scan matrix index over by 5 
    // so it doesn't overlap or duplicate the left side keys
    col-offset = <5>;
};